body {
}
.row-1 {
    margin-left: 20px;
}

.col-md-6 {
    margin-left: 80px;
    width: 60%;
}

.form-group {
    margin-left: 175px;
}

.btn-primary {
    background: #008080;
    border: none;
    margin-left: 170px;
}

.btn-primary:hover {
    background: #008080;
    border: none;
}

.btn-success {
    background: #008080;
    color: #fff;
}

.btn-success:hover {
    background: #008080;
    color: #fff;
}

.btn-success:active {
    background: #008080;
    color: #fff;
}

.one {
    color: #008080;
}